body {
     background-color: white;
     font-family: Verdana, Arial, Helvetica, sans-serif;
     font-size: small;
     margin: 1.1%;
     padding: 0;
}

#container {
     width: 65%;
     background-color: #ffffcc;
     margin-left: auto;
     margin-right: auto;
     border: 1px solid black;
}

header {
     height: 10.27%;
     background-color: silver;
     border-bottom: 1px solid black;
}

header h1 {
     text-align: center;
     font-size: 4.14%;
}

nav {
     width: 10.38%;
     background-color: silver;
     padding: 1.04%;
     margin: 1.04%;
     float: left;
     border: 1px solid black;
}

article {
     width: 51.95%;
     margin: 1.04%;
     padding: 1.04%;
     float: left;
     border: 1px solid black;
}

aside {
     width: 12.45%;
     background-color: silver;
     padding: 1.04%;
     margin: 1.04%;
     float: left;
     border: 1px solid black;
}

footer {
     height: 3.11%;
     background-color: silver;
     clear: both;
     border-top: 1px solid black;
}

footer p {
     text-align: center;
     padding: 0.52%;
     margin: 0;
     clear: both;
}
