body {
    background: #2c3e50; /* Nowy kolor tła */
    color: #ecf0f1; /* Nowy kolor tekstu */
    text-align: center;
    margin: 0;
    padding: 0;
}

h1.title {
    color: #f39c12; /* Nowy kolor dla nagłówka h1 */
    font-family: Verdana;
    margin: 40px; /* Nowy styl - odstęp od krawędzi */
    padding: 10px;
}

.opis {
    color: #bdc3c7; /* Nowy kolor dla akapitów */
    text-align: justify;
    font-family: Cambria;
    font-size: 20px;
}

.lista {
    list-style-type: none;
    padding: 0;
}

.lista li {
    margin-bottom: 10px;
}

.lista li a {
    color: green;
    text-decoration: none;
}

.lista li a:hover {
    color: red;
    text-decoration: underline;
}
