body {
    text-align: left;
    margin: 600px;
}

h1 {
    margin: 40px;
    border: 0px solid red;
    background: purple;
    color: #8E6B23; /* Zachowujemy kolor dla nagłówka h1 */
    padding: 10px;
}

hr {
    padding: 0px;
    margin: 0px;
    color: blue;
}

a {
    color: green;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}
